@model IEnumerable<MvcCoreLinqXML.Models.Escena>

@{
    ViewData["Title"] = "EscenasPeliculas";
}

<h1>EscenasPeliculas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPeliculaEscena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TituloEscena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPeliculaEscena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TituloEscena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                <a asp-controller="Pelicula" asp-action="Index">Volver al listado</a>
            </td>
        </tr>
}
    </tbody>
</table>
