@model Escena

@{
    ViewData["Title"] = "EscenasPeliculas";
    int anterior = int.Parse(ViewData["anterior"].ToString());
    int siguiente = int.Parse(ViewData["siguiente"].ToString());
}

<h1>Escenas Peliculas</h1>

<h4 style="color:blue">
    @ViewData["registro"]
</h4>
@*<a asp-controller="Pelicula" asp-action="EscenasPeliculas" asp-route-id="@Model.IdPeliculaEscena" asp-route-posicion="@ViewData["anterior"]">Anterior</a>
<a asp-controller="Pelicula" asp-action="EscenasPeliculas" asp-route-id="@Model.IdPeliculaEscena" asp-route-posicion="@ViewData["siguiente"]">Siguiente</a>*@
<button type="button" class="btn btn-secondary" id="anterior">Anterior</button>
<button type="button" class="btn btn-secondary" id="siguiente">Siguiente</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPeliculaEscena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TituloEscena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="cuerpoTabla">
        <tr>
            <td>
                @Model.IdPeliculaEscena
            </td>
            <td>
                @Model.TituloEscena
            </td>
            <td>
                @Model.Descripcion
            </td>
            <td>
                @Model.Imagen
            </td>
            <td>
                <a asp-controller="Pelicula" asp-action="Index">Volver al listado</a>
            </td>
        </tr>
    </tbody>
</table>

    <script>

    $(document).ready(function () {

        $("#siguiente").click(function () {
            console.log("paso por aqui");

            var url = "@Url.Action("Posicionamiento", "Pelicula")";
            var posicion = "@siguiente"+1;
            var id = "@Model.IdPeliculaEscena";

            var data = { id: id, posicion: posicion };

            $.post(url,data).done(function (data) {

                console.log(data);
               $("#cuerpoTabla").html("<td>"+data.idPeliculaEscena+"</td><td>"+data.tituloEscena+"</td><td>"+data.descripcion+"</td><td>"+data.imagen+"</td>");

            });

        });
    });

    </script>

