@model List<Departamento>

<h1>Departamentos</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Número</th>
            <th>Nombre</th>
            <th>Localidad</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Departamento dep in Model) { 
            
            <tr>
                <td>@dep.IdDepartamento</td>
                <td>@dep.Nombre</td>
                <td>@dep.Localidad</td>
                <td><a class="nav-link" asp-controller="Departamentos" asp-action="Details" asp-route-id="@dep.IdDepartamento">Detalles</a>
                <a class="nav-item" asp-controller="Departamentos" asp-action="Update" asp-route-id="@dep.IdDepartamento">Modificar</a>
                <a asp-controller="Departamentos" asp-action="Delete" asp-route-id="@dep.IdDepartamento">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>